p.one{
    border-style:solid;
    border-width: spx 20px;
}
p.two{
    border-style:dotted;
    border-width: 2px
}
p.three{
    border-style: double;
    border-width: thick;
    border-color: blueviolet;
}
p.four{
    border-style:dashed;
    border-width:dotted;

}
p.five{
    border-left-style:solid;
    border-right-style:dotted ;
    border-top-style:groove;
    border-bottom-style:dashed ;

}
p.six{
    border-style: dashed solid dotted double;
    border-width: 5px;
    border-top-color: brown;
    border-right-color: blue;
    border-left-color: black;
    border-bottom-color: brown ;

}